@import url('https://fonts.googleapis.com/css2?family=Rubik+Microbe&display=swap');

html {
  background: url('../assets/background.png') no-repeat center center fixed;
  box-sizing: border-box;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

body {
  color: #FF964F;
  font-family: 'Rubik Microbe', sans-serif;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

main {
  display: grid;
  place-items: center;
  padding: 40px;
}

h1 {
  text-align: center;
  font-size: 60px;
}

.game-controls {
  text-align: center;
  background-color: black;
  padding: 40px;
  width: 500px;
  height: 40px; 
}

.start-button {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #FF964F;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: wheat;
  border: 1px solid yellow;
  cursor: pointer;
}

.start-button:hover {
  color: #FF964F;;
  font-size: 24px;
  border-color: #FF964F;;
  transform: rotate(5deg);
}

.status {
  font-size: 32px;
  color: white;
}

.pad-container {
  display: grid;
  grid-template-rows: 200px 200px;
  grid-template-columns: 200px 200px;
  grid-gap: 5px;
  margin: 20px;
}

.pad-red {
  border-top-left-radius: 200px;
  background-color: #ae5a41;
}

.pad-red:hover,
.pad-red:focus {
  background-color: #FF3131;
  transform: rotate(-5deg);
}

.pad-red:active,
.pad-red.activated {
  background-color: #ff5c36;
  transform: translateY(10px);
}

.pad-green {
  border-top-right-radius: 200px;
  background-color: #baffc9;
}

.pad-green:hover,
.pad-green:focus {
  background-color: #0FFF50;
  transform: rotate(5deg);
}

.pad-green:active,
.pad-green.activated {
  background-color: #a0ea00;
  transform: translateY(10px);
}

.pad-yellow {
  border-bottom-right-radius: 200px;
  background-color: #ffffba;
}

.pad-yellow:hover,
.pad-yellow:focus {
  background-color: #CFFF04;
  transform: rotate(5deg);
}

.pad-yellow:active,
.pad-yellow.activated {
  background-color: #ffca3d;
  transform: translateY(10px);
}

.pad-blue {
  border-bottom-left-radius: 200px;
  background-color: #1b85b8;
}

.pad-blue:hover,
.pad-blue:focus {
  background-color: #1F51FF;
  transform: rotate(5deg);
}

.pad-blue:active,
.pad-blue.activated {
  background-color: #2bbcff;
  transform: translateY(10px);
}

.hidden {
  display: none;
}

.unclickable {
  pointer-events: none;
}